//  name   : style.scss
//  writer : DaichiSeki
//  date   : 2017/03/14〜
@charset "UTF-8";

@import "include/mixin";
@import "include/variables";
@import "include/keyframe";


@font-face {
	font-family: 'MoonL';
	src: url(../font/MoonLight.otf);
}


html {
    height: 100%;
}

body {
    position: relative;
    font-family:"MoonL","游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}


.section {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333;

    .heading2 {
        margin-top: 60px; //  .global_menuのheight
        padding: 80px 0;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: 12px;
        color: #222;
        background-color: #eee;
        box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
        -moz-box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
        -webkit-box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
        @include font-size(50);
    }

    .content {
        min-width: 800px;
        width: 80%;
        height: 50%;
        margin: 8% auto;
        color: #ddd;
    }
}

//  エディター風の導入部分
.sec01 {
    z-index: 5;

    //  エディター部分の左側
    .side {
        position: absolute;
        width: 200px;
        height: 100%;
        background-color: #333;
        color: #ddd;

        .list {
            width: 100%;
            height: 100%;
            padding-top: 30px;
            box-sizing: border-box;
            font-size: 12px;
            &__item {
                margin-bottom: 5px;
                @include middle-line(30);

                .link {
                    display: block;
                    color: #ddd;
                    &:hover {
                        background-color: #484848;
                        cursor: pointer;
                    }
                    .icon {
                        width: 40px;
                        text-align: right;
                        float: left;
                        &__image {
                            width: 12px;
                            height: auto;
                        }
                    }
                }

                .file_name {
                    width: 160px;
                    padding-left: 10px;
                    box-sizing: border-box;
                    float: left;
                }
            }//  .list__item

            //  一階層下がったフォルダ
            .indent {
                .icon{
                    padding-left: 17px;
                }
                .file_name {
                    width: 143px;
                }
            }
        }
    }

    //  エディター部分の右側
    .code {
        position: absolute;
        left: 200px; //  .sideのwidth
        width: calc(100% - 200px);
        height: 100%;
        font-size: 14px;
        line-height: 1.8;
        background-color: #23241f;

        &__tab {
            position: absolute;
            width: 100%;
            height: 40px;
            background-color: #333;

            .tab {
                position: absolute;
                top: 6px;
                width: 200px;
                padding-left: 30px;
                border-left: 2px solid #5f8cf0;
                border-radius: 2px 2px 0 0;
                box-sizing: border-box;
				font-family: sans-serif;
                font-size: 12px;
                color: #ddd;
                background-color: #23241f;
                box-shadow:1px -1px 0px 1px #111;
                -moz-box-shadow:1px -1px 0px 1px #111;
                -webkit-box-shadow:1px -1px 0px 1px #111;
                @include middle-line(34);
            }
        }

        &__line {
            position: absolute;
            top: 40px; //  .code__tabのheight
            overflow: hidden;
            width: 70px;
            height: 100%;
            padding-top: 10px;
            padding-right: 20px;
            box-sizing: border-box;
            text-align: right;
            color: #7d7d7d;
        }

        &__main {
            position: absolute;
            top: 40px; //  .code__tabのheight
            left: 70px; //  .code__lineのwidth
            width: 100%;
            height: 100%;
            padding-top: 10px;
            box-sizing: border-box;

            code {
                padding: 0;

				.cursor {
					color: #4292d2;
				}
            }

			.scroll_word {
				z-index: 99;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 600px;
				height: 200px;
				margin: auto;
				line-height: 200px;
				text-align: center;
				font-size: 50px;
				color: #777;
			}
        }
    }//  .code

    .global_menu {
        position: absolute;
        bottom: -60px;
        width: 100%;
        color: #ddd;
        background-color: #444;
        box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
        -moz-box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
        -webkit-box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
        @include middle-line(60);

        .heading1 {
            padding: 0 30px;
            box-sizing: border-box;
            float: left;
        }

        .right_list {
            float: right;

            &__item {
                float: left;
                @include font-size(14);

                .link {
                    display: block;
                    padding: 0 30px;
                    box-sizing: border-box;
                    text-decoration: none;
                    color: #ddd;
                    &:hover {
                        background-color: #555;
                        cursor: pointer;
                    }
                }
            }
        }
    }

	//  コードのフォント変更
	.hljs {
		font-family: sans-serif;
	}
}//  .sec01



.sec02 {
    .content {
        &__left {
            width: 50%;
            height: 100%;
            text-align: center;
            float: left;

            .image {
                width: 70%;
                height: auto;
                border-radius: 100%;
                box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
                -moz-box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
                -webkit-box-shadow:0px 3px 10px -3px rgba(0,0,0,0.44);
            }
        }

        &__right {
            width: 50%;
            height: 100%;
            float: left;

            .heading3 {
                width: 400px;
                margin: 0 auto;
                padding-bottom: 10px;
                border-bottom: 1px solid #aaa;
                box-sizing: border-box;
                text-align: center;
                font-size: 26px;
            }

            .sentence {
                margin-top: 10%;
                line-height: 2.8;
            }
        }
    }
}//  .sec02



.sec03 {
    .content {
        width: 800px;
        height: 400px;
        .list {
            width: 100%;
            height: 200px;
            margin-bottom: 50px;
            &__item {
                position: relative;
                width: 23%;
                height: 96%;
                margin: 1%;
                border-radius: 100%;
                box-sizing: border-box;
                background-color: #ddd;
                float: left;
                transition: all .3s linear;
                box-shadow: inset 0 0 0 0 rgba(255,255,255,0.3), 0 3px 5px rgba(0,0,0,0.5);

                &:hover {
                    background-color: rgba(#666,0.2);
                    box-shadow:  inset 0 0 0 5px rgba(255,255,255,0.8);

                    .lang_name {
                        opacity: 1;
                    }

                    .image {
                        opacity: 0.2;
                    }
                }

                //  hover時に表示する
                .lang_name {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    font-size: 25px;
                    color: #ddd;
                    opacity: 0;
                    @include middle-line(50);
                }

                .image {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: auto;
                    height: 60%;
                    margin: auto;
                }

                //  横長なロゴの場合
                .image--horizontal {
                    width: 70%;
                    height: auto;
                }

                //  画像を一回り小さく
                .image--mini {
                    width: auto;
                    height: 50%;
                }
            }
        }
    }
}//  .sec03



.sec04 {
	.content {
		width: 800px;
		height: 500px;
		.list {
			width: 100%;
			height: 100%;
			padding: 0 30px;
			box-sizing: border-box;
			&__item {
				width: 220px;
				height: 220px;
				margin: 0 20px 40px 20px;
				border: 5px solid #ddd;
				border-radius: 30px;
				box-sizing: border-box;
				float: left;
				background-color: #333;
				transition: all .2s linear;

				&:first-child {
					margin-left: 0;
				}
				&:nth-child(3) {
					margin-right: 0;
				}
				&:nth-child(4) {
					margin-left: 0;
					margin-bottom: 0;
				}
				&:nth-child(5) {
					margin-bottom: 0;
				}

				&:hover {
					cursor: pointer;
					background-color: #222;
					.icon {
						transform: scale(1.2);
					}
				}

				.link {
					display: block;
					text-decoration: none;

					.work_title {
						padding-top: 40px;
						box-sizing: border-box;
						text-align: center;
						font-size: 20px;
						color: #ddd;
					}

					.icon {
						margin-top: 20px;
						height: 130px;
						text-align: center;
						transition: all .2s linear;
						&__image {
							width:auto;
							height: 100px;
						}
					}
				}
			}//  .list__item
		}//  .list
	}//  .content

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 0;
		width: 100%;

		&__content {
			display: none;
			width: 900px;
			height: 600px;
			margin: 20vh auto 0 auto;
			border-radius: 20px;
			background-color: #fafafa;

			.pdf_frame {
				width: 800px;
				height: 550px;
				margin: 25px 50px;
			}
		}

		&__close {
			display: none;
			width: 200px;
			height: 70px;
			margin: 20px auto 0 auto;
			line-height: 70px;
			text-align: center;
			background-color: #ff7c7c;
			color: #fff;
		}
	}

	//  keyframeの呼び出し
	//  javascriptでクラス付与
	.a_overlay {
		-webkit-animation: a_overlay 0.8s ease 0s 1 normal;
		animation: a_overlay 0.8s ease 0s 1 normal;
		animation-fill-mode: forwards;
	}
	.b_overlay {
		-webkit-animation: b_overlay 0.8s ease 0s 1 normal;
		animation: b_overlay 0.8s ease 0s 1 normal;
		animation-fill-mode: forwards;
	}
}//  .sec04



// 非表示
.d_none {
	display: none;
}
// 表示
.d_block {
	display: block;
}

//  下向き矢印
.arrow_down{
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.arrow_down::before{
    content: '';
    width: 4px;
    height: 4px;
    border: 0px;
    border-top: solid 2px #ddd;
    border-right: solid 2px #ddd;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: -10px;
    left: 5px;
}

//  右向き矢印
.arrow_right{
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.arrow_right::before{
    content: '';
    width: 4px;
    height: 4px;
    border: 0px;
    border-top: solid 2px #ddd;
    border-right: solid 2px #ddd;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -9px;
    left: 5px;
}

//  点滅させる
.blinking{
	-webkit-animation:blink 1.0s ease-in-out infinite alternate;
    -moz-animation:blink 1.0s ease-in-out infinite alternate;
    animation:blink 1.0s ease-in-out infinite alternate;
}
