.header {
  display: none; }
  .header h1 {
    text-align: center;
    color: #FFF;
    background-color: #1898e0;
    font-size: 20px;
    font-size: 1.25rem;
    height: 60px;
    line-height: 60px; }

.wrapper .grading .heading {
  margin: 30px 0 10px 0;
  text-align: center;
  font-weight: normal;
  background-color: #FFF;
  font-size: 24px;
  font-size: 1.5rem;
  height: 80px;
  line-height: 80px; }

.wrapper .grading .main {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box; }
  .wrapper .grading .main__row {
    border-bottom: 1px solid #AAA;
    font-size: 16px;
    font-size: 1rem;
    height: 60px;
    line-height: 60px; }
    .wrapper .grading .main__row .label {
      width: 100px;
      height: 100%;
      padding: 0 0 0 10px;
      box-sizing: border-box;
      float: left; }
    .wrapper .grading .main__row .point {
      width: 160px;
      height: 100%;
      padding: 0 0 0 30px;
      box-sizing: border-box;
      float: left;
      font-size: 28px;
      font-size: 1.75rem; }

.wrapper .grading .btn_block .btn {
  display: block;
  width: 300px;
  height: 60px;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #37abd0;
  font-size: 24px;
  font-size: 1.5rem;
  height: 60px;
  line-height: 60px; }
