@charset "UTF-8";


/* mixin */
@mixin box-shadow( $h: 10px , $v: 10px , $b: 0px , $s: 0px , $c: #7f7f7f ) {
	-webkit-box-shadow: $h $v $b $s $c;
	-moz-box-shadow: $h $v $b $s $c;
	box-shadow: $h $v $b $s $c;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	filter: alpha(opacity=($opacity * 100));
}

@mixin font-size($size) {
	font-size: $size;
	font-size: ($size / 16px) * 1rem;
}
/* mixin */





/* articleここから */
//  ※囲いにclearfix
.article-single-post {
	width: 100%;
	height: auto;
	padding: 0 0 80px 0;
	box-sizing: border-box;
	color: #333;
	
	.key_visual {
		width: 1000px;
		height: 192px;
		margin: 40px auto;
		padding: 0 20px;
		box-sizing: border-box;
		
		img {
			display: block;
			width: 960px;
			height: auto;
		}
	}
	
	.content_title {
		width: 1000px;
		height: auto;
		margin: 0 auto;
		padding: 0 20px 50px 20px;
		box-sizing: border-box;
		text-align: center;
		@include font-size(50px);
		font-weight: bold;
			
		.en {
			@include font-size(20px);
			font-weight: none;
		}
	}
	
	//  各セクション共通部分
	&__sec01 {
		width: 1000px;
		height: auto;
		margin: 0 auto;
		padding: 0 20px;
		box-sizing: border-box;
		
		&__title {
			padding: 50px 0 30px 0;
			border-bottom: 1px solid #333;
			@include font-size(18px);
			
			span {
				@include font-size(36px);
				font-weight: bold;
				//background: linear-gradient(transparent 70%, #70b5ff 20%);
				background: linear-gradient(transparent 70%, #FADC32 20%);			}
		}
	}
	
	
	&__sec01 {
		
		&__title {
			border-top: 1px solid #333;
		}
		
		&__wrapp {
			position: relative;//  各項目番号用
			width: 960px;
			height: auto;
			margin: 20px 0;
			padding: 20px 20px;
			border: 1px solid #DDD;
			box-sizing: border-box;
			
			.cat {
				margin: 0 0 20px 0;
				
				a {
					text-decoration: none;
					color: #FFF;
				}
			}
		}//  .article__sec01__wrapp
	}//  .article__sec01
	
}
/* articleここまで */