doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    // ++++++++++++++++++++++++++++++
    link(rel="stylesheet" href="css/highlight/monokai-sublime.css")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/style.css")
    // ++++++++++++++++++++++++++++++
    script(src="js/vendor/jquery-1.11.2.min.js")
    script(src="js/vendor/highlight.pack.js")
    // ++++++++++++++++++++++++++++++
    title PORTFOLIO -DAICHI SEKI-
    // ++++++++++++++++++++++++++++++
  body
    #skrollr-body
      section#introduction.section.sec01.skrollable.skrollable-before(data-5800="top:0%;" data-9800="top: -100%;")
        .side
          include include/side_menu.pug
        .code
          .code__tab
            .tab daichi_seki_portfolio.js
          include include/code_line.pug
          include include/code_main.pug
        #global_menu.global_menu.clearfix
          h1.heading1 PORTFOLIO -SEKI DAICHI-
          ul.right_list.clearfix
            li.right_list__item
              a.link.introduction_link(href="#introduction") INTRO
            li.right_list__item
              a.link.about_link(href="#about") ABOUT
            li.right_list__item
              a.link.skills_link(href="#skills") SKILLS
            li.right_list__item
              a.link.works_link(href="#works") WORKS
            li.right_list__item
              a.link.contact_link(href="#contact") CONTACT
      section#about.section.sec02(data-5800="top:100%;" data-9800="top: 0%;" data-10500="top:0%;"  data-15500="top: -100%;")
        h2.heading2
          span(data-6800="opacity: 0;" data-9800="opacity: 1;") ABOUT
        .content.clearfix
          .content__left(data-8000="opacity:0;" data-9800="opacity:1;")
            img.image(src="img/prof_image01.jpg" alt="プロフィール画像")
          .content__right(data-8000="transform:translate(130%,0);opacity:0;" data-9800="transform:translate(0%,0);opacity:1;")
            h3.heading3 関 大智 -Seki Daichi-
            p.sentence
              | HAL名古屋WEB開発学科3年の学生です。
              br
              | 趣味は旅行とサッカー観戦。
              br
              | 昨年の7月末には、台湾を10日間で一周しました。
              br
              br
              | 興味のある分野としてはフロントエンドの技術です。
              br
              | 最近はコーディングをしている時に幸せを感じます。
      section#skills.section.sec03(data-10500="top:100%;" data-15500="top: 0%;" data-16500="top:0%;" data-21000="top: -100%;")
        h2.heading2
          span(data-11500="opacity: 0;" data-14500="opacity: 1;") SKILLS
        .content
          ul.list.clearfix(data-16500="transform:translate(0%,0);opacity:1;" data-21000="transform:translate(150%,0);opacity:0;")
            li.list__item(data-12600="opacity: 0;" data-14100="opacity: 1;transform:translate(0,0%);" data-14400="transform:translate(0,-35%);" data-14700="transform:translate(0,0)")
              p.lang_name HTML5
              img.image(src="img/icon_html5.svg" alt="html5ロゴ")
            li.list__item(data-12800="opacity: 0;" data-14300="opacity: 1;transform:translate(0,0%);" data-14600="transform:translate(0,-35%);" data-14900="transform:translate(0,0)")
              p.lang_name CSS3
              img.image(src="img/icon_css3.svg" alt="css3ロゴ")
            li.list__item(data-13000="opacity: 0;" data-14500="opacity: 1;transform:translate(0,0%);" data-14800="transform:translate(0,-35%);" data-15100="transform:translate(0,0)")
              p.lang_name Javascript
              img.image.image--mini(src="img/icon_javascript.svg" alt="javascriptロゴ")
            li.list__item(data-13200="opacity: 0;" data-14700="opacity: 1;transform:translate(0,0%);" data-15000="transform:translate(0,-35%);" data-15300="transform:translate(0,0)")
              p.lang_name Sass
              img.image.image--horizontal(src="img/icon_sass.svg" alt="sassロゴ")
          ul.list.clearfix(data-16500="transform:translate(0%,0);opacity:1;" data-21000="transform:translate(-150%,0);opacity:0;")
            li.list__item(data-13400="opacity: 0;" data-14900="opacity: 1;transform:translate(0,0%);" data-15200="transform:translate(0,-35%);" data-15500="transform:translate(0,0)")
              p.lang_name Pug
              img.image(src="img/icon_pug.svg" alt="pugロゴ")
            li.list__item(data-13600="opacity: 0;" data-15100="opacity: 1;transform:translate(0,0%);" data-15400="transform:translate(0,-35%);" data-15700="transform:translate(0,0)")
              p.lang_name Gulp
              img.image(src="img/icon_gulp.svg" alt="gulpロゴ")
            li.list__item(data-13800="opacity: 0;" data-15300="opacity: 1;transform:translate(0,0%);" data-15600="transform:translate(0,-35%);" data-15900="transform:translate(0,0)")
              p.lang_name Bootstrap
              img.image.image--mini(src="img/icon_bootstrap.svg" alt="bootstrapロゴ")
            li.list__item(data-14000="opacity: 0;" data-15500="opacity: 1;transform:translate(0,0%);" data-15800="transform:translate(0,-35%);" data-16100="transform:translate(0,0)")
              p.lang_name Atom
              img.image(src="img/icon_atom.svg" alt="atomロゴ")
      section#works.section.sec04(data-16500="top:100%;" data-20500="top: 0%;" data-21500="top:0%;" data-27000="top: -100%;")
        h2.heading2
          span(data-17500="opacity: 0;" data-20500="opacity: 1;") WORKS
        .content(data-18500="opacity:0;" data-20500="opacity:1;")
          ul.list
            li.list__item(data-21500="transform: scale(1);opacity: 1;" data-23000="transform: scale(0);opacity: 0;")
              a.link(href="work/work01/index.html" target="_blank")
                p.work_title HAL幼稚園
                p.icon
                  img.icon__image(src="img/icon_program_white.png" alt="コーディングアイコン")
            li.list__item(data-22000="transform: scale(1);opacity: 1;" data-23500="transform: scale(0);opacity: 0;")
              a.link(href="work/work02/docs/index.html" target="_blank")
                p.work_title 社歌PRO
                p.icon
                  img.icon__image(src="img/icon_program_white.png" alt="コーディングアイコン")
            li.list__item(data-22500="transform: scale(1);opacity: 1;" data-24000="transform: scale(0);opacity: 0;")
              a.link(href="work/work03/work03.png" target="_blank")
                p.work_title CafeDePARIS
                p.icon
                  img.icon__image(src="img/icon_design_white.png" alt="デザインアイコン")
            li.list__item(data-23000="transform: scale(1);opacity: 1;" data-24500="transform: scale(0);opacity: 0;")
              a.link(href="work/work04/work04.png" target="_blank")
                p.work_title Cuillere
                p.icon
                  img.icon__image(src="img/icon_design_white.png" alt="デザインアイコン")
            li.list__item(data-23500="transform: scale(1);opacity: 1;" data-25000="transform: scale(0);opacity: 0;")
              a.link(href="work/work05/index.html" target="_blank")
                p.work_title あかさたなぞるくん
                p.icon
                  img.icon__image(src="img/icon_program_white.png" alt="コーディングアイコン")
      section#contact.section.sec05(data-21500="top:100%;" data-27000="top: 0%;")
        h2.heading2
          span(data-23500="opacity: 0;" data-26500="opacity: 1;") CONTACT
    script(src="js/vendor/skrollr.min.js")
    script(src="js/main.js")
