.modal#word_list_modal(data-izimodal-group="word_list_modal" data-izimodal-loop="" data-izimodal-title="単語一覧" data-izimodal-subtitle="検出した単語の一覧です")
  ul.hiragana_list#list
    //li.hiragana_list__item
      a.link.animsition-link(href="#") もも
    //li.hiragana_list__item
      a.link.animsition-link(href="#") ももたろう
