.code__main
  pre
    code.javascript.hljs
      span.comment
        | /* --------------------------------------
        | --- Welcome to my portfolio site.
        | --- This page was written by DaichiSeki.
        | --- Please scroll!!!
        | -------------------------------------- */
    code#code.hljs
      | 
      | 
      | var profileArray = new Array();
      | const name  = "Seki Daichi";
      | const pref  = "Mie"
      | const birth = "1995/10/25";
      | 
      | profileArray["name"]    = name;
      | profileArray["pref"] = pref;
      | profileArray["birth"]   = birth;
      | 
      | console.log("My name is "+ profileArray["name"] +".");
      | console.log("I was born in "+ pref +" on "+ birth +".");
      | 
      | console.log("Thank you!!");
