ul.list
  li.list__item
    a.link.clearfix(href="#")
      p.icon
        span.arrow_down
        img.icon__image(src="img/icon01.png" alt="フォルダアイコン")
      p.file_name portfolio
  li.list__item.indent
    a.link.clearfix(href="#introduction")
      p.icon
        span.arrow_down
        img.icon__image(src="img/icon01.png" alt="フォルダアイコン")
      p.file_name introduction
  li.list__item.indent
    a.link.clearfix(href="#about")
      p.icon
        span.arrow_right
        img.icon__image(src="img/icon01.png" alt="フォルダアイコン")
      p.file_name about
  li.list__item.indent
    a.link.clearfix(href="#skills")
      p.icon
        span.arrow_right
        img.icon__image(src="img/icon01.png" alt="フォルダアイコン")
      p.file_name skills
  li.list__item.indent
    a.link.clearfix(href="#works")
      p.icon
        span.arrow_right
        img.icon__image(src="img/icon01.png" alt="フォルダアイコン")
      p.file_name works
  li.list__item.indent
    a.link.clearfix(href="#contact")
      p.icon
        span.arrow_right
        img.icon__image(src="img/icon01.png" alt="フォルダアイコン")
      p.file_name contact
